*{
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f2f5f9;
}
.kole-form{
    background-color: #ffffff;
    width: 360px;
    padding: 30px;
    border-radius: 12px;
}

.form{
    display: flex;
    flex-direction: column;
}
.button{
    height: 42px;
    font-size: 14px;
    border-radius: 8px;
    background-color:#4f46e5 ;
    color:#ffffff ;
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color:#4338ca ;
}
.label{
    color: #555;
}
.input{
    border-color:#ddd ;
}